@import url(./fonts/fonts.css);

body {
  background-color: #fff;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  color: #000;
  font-size: 0.3cm;
  line-height: 1.4;
  font-family: "Inter", sans-serif;
  /* Сглаживание */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Подгонка размера текста */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  font-weight: 400;
  font-style: normal;
  width: 20cm;
}

.template {
  /* display: flex;
  flex-direction: column; */
  margin: 1cm 1.5cm 2cm 2.5cm;
}

.template_black {
  font-weight: 900;
}

.template_padding-top {
  padding-top: 0.3cm;
}

.template_padding-bottom {
  padding-bottom: 0.3cm;
}

.template_font-size-14 {
  font-size: 0.4cm;
  line-height: 1.4;
}

.template_font-size-12 {
  font-size: 0.3cm;
  line-height: 1.4;
}

.template__flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.template__margin-null {
  margin: 0;
}

.template__text_right {
  align-self: flex-end;
}

.template__text_left {
  align-self: flex-start;
}

.template__table {
  display: flex;
  flex-direction: column;
}

.template__row {
  display: flex;
}

.template__cell {
  border: 0.05cm solid #000;
  padding: 0.1cm 0.2cm;
}

.template__cell_center {
  text-align: center;
}

.template__cell_left {
  text-align: left;
}

.template__cell_right {
  text-align: right;
}

.template__size_250 {
  width: 5cm;
}

.template__size_100 {
  width: 2.5cm;
}

.template__size_150 {
  width: 3cm;
}

.template__size_50 {
  width: 2cm;
}